* {
    padding: 0;
    margin: 0;
    font-family: 'Luxurious Roman', cursive;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* ----- header ----- */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(./images/1622594441_03.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}

nav a  {
    color: black;
    font-size: 13px;
}

.logo {
    font-size: 20px;
    color: white;
}

.nav-link {
    flex: 1;
    text-align: right;
}

.nav-link ul li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: lightslategray;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
}

.top-btn {
    display: inline-block;
    color: #fff;
    border:  1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
}

.top-btn:hover {
    background: lightslategray;
    transition: 0.5s;
}

nav .fa {
    display: none;
}

.course {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.course h1{
    font-size: 100px;
    font-weight: 200;
}

.course p{
    font-size: 20px;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
}

.course-col {
    background-color: lightpink;
    flex-basis: 31%;
    padding: 20px 12px;
    border-radius: 10px;
    margin: 5%;
    box-sizing: border-box;
}

.course-col:hover {
    box-shadow: 0px 0px 8px gray;
    transition: 0.5s;
}

.footer{
    background-color: darkgrey;
    padding-top: 30px;
}

.menu li{
    display: flex;
    justify-content: space-between;
    padding: 5px 40%;
    
}

.menu a{
    color: white;
       
}

.copyright{
    text-align: right;
    padding: 0px 10px 5px 0px;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-link ul li {
        display: block;
    }
    .nav-link {
        position: absolute;
        background: lightslategray;
        height: 100vh;
        width: 100px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 0.8s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .row {
        flex-direction: column;
    }
    .menu li{
        flex-direction: column;
        text-align: center;
    }
}